@import "@/styles/variable.less";

.tab {
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: @color-gray;
  font-size: @font-size-xs;
  &.tab-selected {
    columns: #000000;
    font-weight: bold;
  }
}
