@import "@/styles/variable.less";

.tab {
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: @color-gray;
  font-size: @font-size-xs;
  background-color: #f6f7f9;
  color: @color-gray;
  &.tab-selected {
    color: @color-gray;
    background-color: #ffffff;
    font-weight: bold;
    border-left: 10px solid @color-orange;
  }
}
