.select-group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2.5vw;
  .select-button {
    flex: 1 1 17.5vw;
    margin: 2.5vw 2.5vw;
    background-color: #2f2f2f;
    border: 1px solid #f56330;
    color: #f56330;
    &.selected-button {
      background-color: #f56330;
      color: #ffffff;
    }
  }
}
